/*section header*/
h1 {
	color:red;
	font-size: 50px;
}
.header .navbar-brand {
	height: 80px;
}
.header .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}