/*section header*/
.header .navbar-brand {
	height: 80px;
}
.header .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
} 
.header .nav >li >a:hover, .navbar-inverse .navbar-nav>.active>a {
	color: coral !important;
}
.header .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}